/* Utilities CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
body {
  background-color: #ffffff;
  margin: 0px;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body h1,
body h2,
body h3 {
  font-family: "Oswald", sans-serif;
}
body a:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
body a img:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.navigation {
  z-index: 2;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  background: transparent;
}
@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation.visible {
  background: rgba(122, 162, 214, 0.6);
}
.navigation .navigation__list {
  list-style: none;
  margin: 20px;
}
.navigation .navigation__list-item {
  display: inline;
  margin: 20px;
}
.navigation .navigation__list-item .navigation__link {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}
@media screen and (min-width: 1850px) {
  .navigation .navigation__list-item .navigation__link {
    font-size: 30px;
  }
}
.navigation .navigation__list-item .navigation__link:hover {
  text-shadow: -0.3px -0.3px 0 #ffffff, 0.3px -0.3px 0 #ffffff, -0.3px 0.3px 0 #ffffff, 0.3px 0.3px 0 #ffffff;
}
.navigation .navigation__list-item .navigation__link.active {
  font-weight: bold;
}

.navigation--mobile {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .navigation--mobile {
    display: initial;
  }
}

#trigger-overlay {
  border: none;
  color: white;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: transparent;
}
#trigger-overlay.visible {
  background: rgba(122, 162, 214, 0.6);
}
#trigger-overlay i {
  font-size: 40px;
}
#trigger-overlay span {
  display: none;
}

.overlay {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(122, 162, 214, 0.85);
}
.overlay.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.overlay.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.overlay .overlay-close {
  width: 33px;
  height: 45px;
  position: absolute;
  right: 17px;
  top: 10px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay nav .navigation__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay nav .navigation__list-item {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.overlay nav .navigation__list-item .navigation__link {
  font-size: 3em;
  display: block;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media screen and (max-width: 376px) {
  .overlay nav .navigation__list-item .navigation__link {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 321px) {
  .overlay nav .navigation__list-item .navigation__link {
    font-size: 2em;
  }
}
@media screen and (max-width: 321px), screen and (max-height: 490px) {
  .overlay nav .navigation__list-item .navigation__link {
    font-size: 1em;
  }
}
.overlay nav .navigation__list-item .navigation__link:hover, .overlay nav .navigation__list-item .navigation__link:focus {
  font-weight: bold;
}

.section--1 .canvas {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: #7aa2d6;
}
.section--1 .canvas__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin: auto;
  width: 100%;
}
.section--1 .canvas__content .canvas__title {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.section--1 .canvas__content .canvas__title.canvas__title--first-span {
  font-size: 9.4em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .section--1 .canvas__content .canvas__title.canvas__title--first-span {
    font-size: 7.4em;
  }
}
@media screen and (max-width: 500px) {
  .section--1 .canvas__content .canvas__title.canvas__title--first-span {
    font-size: 4em;
  }
}
@media screen and (min-width: 2000px) {
  .section--1 .canvas__content .canvas__title.canvas__title--first-span {
    font-size: 15em;
  }
}
.section--1 .canvas__content .canvas__title.canvas__title--second-span {
  font-size: 4.7em;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}
@media screen and (max-width: 768px) {
  .section--1 .canvas__content .canvas__title.canvas__title--second-span {
    font-size: 3.7em;
  }
}
@media screen and (max-width: 500px) {
  .section--1 .canvas__content .canvas__title.canvas__title--second-span {
    font-size: 4em;
    margin-top: 0.5em;
  }
}
@media screen and (min-width: 2000px) {
  .section--1 .canvas__content .canvas__title.canvas__title--second-span {
    font-size: 10em;
  }
}
.section--1 .canvas .navigation__arrow--down {
  position: absolute;
  bottom: 3%;
  left: 49%;
  margin-left: -20px;
  height: 40px;
  animation: bounce 3s infinite;
}
@media screen and (max-width: 500px) {
  .section--1 .canvas .navigation__arrow--down {
    height: 25px;
  }
}

.section--2 {
  background-color: #ffffff;
  padding: 5% 0;
}
.section--2__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #7aa2d6;
}
@media screen and (min-width: 2000px) {
  .section--2__title {
    font-size: 35px;
  }
}
.section--2__content {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 500px) {
  .section--2__content {
    flex-direction: column;
  }
}
.section--2__content .section--2__images {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .section--2__content .section--2__images {
    flex-direction: row;
    justify-content: center;
  }
}
.section--2__content .section--2__images--picture {
  text-align: center;
}
.section--2__content .section--2__images--picture img {
  border-radius: 50%;
  width: 250px;
  height: auto;
}
@media screen and (max-width: 500px) {
  .section--2__content .section--2__images--picture {
    width: 45%;
  }
  .section--2__content .section--2__images--picture img {
    border-radius: 50%;
    width: 100%;
    padding: 0;
  }
}
.section--2__content .section--2__images--logo img {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 500px) {
  .section--2__content .section--2__images--logo {
    width: 45%;
  }
  .section--2__content .section--2__images--logo img {
    width: 100%;
    height: auto;
  }
}
.section--2__content .section--2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
}
@media screen and (max-width: 500px) {
  .section--2__content .section--2__text {
    padding-left: 0;
  }
}
@media screen and (min-width: 2000px) {
  .section--2__content .section--2__text {
    padding-left: 0;
  }
}
.section--2__content .section--2__text .section--2__paragraph {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 2000px) {
  .section--2__content .section--2__text .section--2__paragraph {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .section--2__content .section--2__text .section--2__cv {
    padding-top: 20px;
  }
}
.section--2__content .section--2__text .section--2__cv button {
  height: 60px;
  width: 200px;
  background-color: #7aa2d6;
  border: none;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}
.section--2__content .section--2__text .section--2__cv button:hover {
  text-shadow: -0.3px -0.3px 0 #ffffff, 0.3px -0.3px 0 #ffffff, -0.3px 0.3px 0 #ffffff, 0.3px 0.3px 0 #ffffff;
}
.section--2__content .section--2__text .section--2__cv button:hover {
  cursor: pointer;
}

.section--3 {
  background-color: #7aa2d6;
  padding: 5% 0;
}
.section--3__title {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 2000px) {
  .section--3__title {
    font-size: 35px;
  }
}
.section--3 .skills {
  padding-top: 50px;
  display: flex;
}
@media screen and (max-width: 500px) {
  .section--3 .skills {
    padding-top: 25px;
    flex-direction: column;
  }
}
.section--3 .skills__skill {
  flex-basis: 100%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section--3 .skills__skill {
    padding-bottom: 25px;
  }
}
.section--3 .skills__skill__icon {
  transition: all ease-in-out 0.5s;
  font-size: 45px;
}
.section--3 .skills__skill__icon:hover {
  color: #edf1f5;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.section--3 .skills__skill__title {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
}
.section--3 .skills__skill__paragraph {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 2000px) {
  .section--3 .skills__skill__paragraph {
    font-size: 25px;
  }
}

.section--4 {
  background-color: #ffffff;
  padding: 5% 5%;
}
@media screen and (max-width: 500px) {
  .section--4 {
    padding-left: 0;
    padding-right: 0;
  }
}
.section--4__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  color: #7aa2d6;
}
@media screen and (min-width: 2000px) {
  .section--4__title {
    font-size: 35px;
  }
}
.section--4 .splide .splide__pagination {
  bottom: -1.5em;
}
@media screen and (max-width: 500px) {
  .section--4 .splide .splide__pagination {
    display: none;
  }
}
@media screen and (min-width: 2000px) {
  .section--4 .splide .splide__pagination {
    bottom: -2em;
  }
}
.section--4 .splide .splide__pagination .splide__pagination__page {
  background: #ffffff;
  border: 1px solid #7aa2d6;
}
@media screen and (min-width: 2000px) {
  .section--4 .splide .splide__pagination .splide__pagination__page {
    width: 15px;
    height: 15px;
  }
}
.section--4 .splide .splide__pagination .splide__pagination__page:hover {
  box-shadow: 0px 0px 5px #7aa2d6;
}
.section--4 .splide .splide__pagination .splide__pagination__page.is-active {
  background: #7aa2d6;
}
.section--4 .splide button.splide__arrow {
  background: transparent;
}
.section--4 .splide button.splide__arrow svg {
  transition: fill 0.5s ease;
  fill: #7aa2d6;
}
@media screen and (min-width: 2000px) {
  .section--4 .splide button.splide__arrow svg {
    width: 3.5em;
    height: 3.5em;
  }
}
.section--4 .splide button.splide__arrow svg:hover {
  fill: #ffffff;
}
@media screen and (min-width: 2000px) {
  .section--4 .project {
    height: 850px !important;
  }
}
.section--4 .project__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}
@media screen and (min-width: 2000px) {
  .section--4 .project__description {
    height: 850px;
  }
}
.section--4 .project__description__title, .section--4 .project__description__paragraph {
  padding: 15px;
  background: rgba(122, 162, 214, 0.7);
}
.section--4 .project__description__title {
  font-size: 25px;
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}
@media screen and (min-width: 2000px) {
  .section--4 .project__description__title {
    font-size: 30px;
  }
}
.section--4 .project__description__title:hover {
  text-shadow: -0.3px -0.3px 0 #ffffff, 0.3px -0.3px 0 #ffffff, -0.3px 0.3px 0 #ffffff, 0.3px 0.3px 0 #ffffff;
}
.section--4 .project__description__title__link {
  color: #ffffff;
}
.section--4 .project__description__paragraph {
  padding-top: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
@media screen and (min-width: 2000px) {
  .section--4 .project__description__paragraph {
    font-size: 25px;
  }
}
.section--4 .project__description__paragraph__link {
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}
.section--4 .project__description__paragraph__link:hover {
  text-shadow: -0.3px -0.3px 0 #ffffff, 0.3px -0.3px 0 #ffffff, -0.3px 0.3px 0 #ffffff, 0.3px 0.3px 0 #ffffff;
}

.section--5 {
  padding-top: 5%;
  background-color: #7aa2d6;
}
.section--5__title {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
@media screen and (min-width: 2000px) {
  .section--5__title {
    font-size: 35px;
  }
}
.section--5__paragraph {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
@media screen and (min-width: 2000px) {
  .section--5__paragraph {
    font-size: 25px;
  }
}
.section--5 .contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section--5 .contact__informations {
  text-align: center;
  width: 40%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .section--5 .contact__informations {
    width: 90%;
    padding-bottom: 5%;
    padding-top: 0;
  }
}
@media screen and (min-width: 2000px) {
  .section--5 .contact__informations {
    font-size: 25px;
  }
}
.section--5 .contact__informations span {
  padding: 15px 0;
}
.section--5 .contact__informations span:first-child {
  padding-top: 0;
}
.section--5 .contact__informations span i {
  margin-right: 5px;
}
.section--5 .contact__informations span i:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.section--5 .contact__informations span a {
  text-decoration: none;
  font-style: italic;
  color: #ffffff;
  font-weight: bold;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.section--5 .contact__informations span a:hover {
  opacity: 0.8;
}
.section--5 .contact__form {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #7aa2d6;
}
@media screen and (max-width: 768px) {
  .section--5 .contact__form {
    width: 90%;
    padding-bottom: 5%;
    padding-top: 0;
  }
}
.section--5 .contact__form label {
  display: none;
}
.section--5 .contact__form__column {
  display: flex;
}
.section--5 .contact__form__column input[type=text],
.section--5 .contact__form__column input[type=email] {
  padding: 14px 15px;
  border-radius: 50px;
  width: 50%;
  color: #7aa2d6;
  border: none;
  font-family: "Lato", sans-serif;
  margin: 10px;
}
.section--5 .contact__form ::placeholder {
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.section--5 .contact__form textarea {
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  height: 250px;
  padding: 18px;
  background: white;
  font-family: "Lato", sans-serif;
}
.section--5 .contact__form textarea[id=message] {
  color: #7aa2d6;
}
.section--5 .contact__form input[type=submit] {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  height: 50px;
  width: 135px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  color: #7aa2d6;
  font-size: 18px;
  text-shadow: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}
.section--5 .contact__form input[type=submit]:hover {
  text-shadow: -0.3px -0.3px 0 #7aa2d6, 0.3px -0.3px 0 #7aa2d6, -0.3px 0.3px 0 #7aa2d6, 0.3px 0.3px 0 #7aa2d6;
}
.section--5 .contact__form input[type=submit]:hover {
  cursor: pointer;
}
.section--5 .navigation__arrow {
  text-align: center;
  padding-bottom: 2%;
}
.section--5 .navigation__arrow--up {
  margin-top: 30px;
  height: 25px;
  animation: bounce 3s infinite;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  padding: 40px 0px;
  color: #7aa2d6;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
}
@media screen and (min-width: 2000px) {
  footer {
    font-size: 22px;
  }
}
footer div {
  padding: 0 5px;
}
footer .footer__link {
  text-decoration: none;
  color: #7aa2d6;
}
footer .footer__link i {
  font-size: 23px;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
@media screen and (min-width: 2000px) {
  footer .footer__link i {
    font-size: 28px;
  }
}
footer .footer__link i:hover {
  opacity: 0.8;
}
footer .footer__link span {
  display: none;
}