/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* line 46, ../sass/screen.scss */
body {
  background-color: #ffffff;
  margin: 0px;
  color: #ffffff;
  overflow-x: hidden;
}
/* line 52, ../sass/screen.scss */
body h1,
body h2,
body h3 {
  font-family: "Oswald", sans-serif;
}

/* line 61, ../sass/screen.scss */
.nav {
  z-index: 2;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  background: transparent;
}
/* line 71, ../sass/screen.scss */
.nav ul {
  list-style: none;
  margin: 20px;
}
/* line 76, ../sass/screen.scss */
.nav li {
  display: inline;
  margin: 20px;
}
/* line 81, ../sass/screen.scss */
.nav a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  opacity: 1;
}
/* line 87, ../sass/screen.scss */
.nav a:hover {
  font-weight: bold;
}

/* line 93, ../sass/screen.scss */
.nav2 {
  z-index: 2;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  background: rgba(122, 162, 214, 0.6);
}
/* line 103, ../sass/screen.scss */
.nav2 ul {
  list-style: none;
}
/* line 107, ../sass/screen.scss */
.nav2 li {
  display: inline;
  margin: 20px;
}
/* line 112, ../sass/screen.scss */
.nav2 a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  opacity: 1;
}
/* line 118, ../sass/screen.scss */
.nav2 a:hover {
  font-weight: bold;
}

/* line 125, ../sass/screen.scss */
.navMobile {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: right;
}

/* line 133, ../sass/screen.scss */
#trigger-overlay {
  border: none;
  color: white;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 141, ../sass/screen.scss */
#trigger-overlay i {
  font-size: 40px;
}

/* line 146, ../sass/screen.scss */
.blue {
  background: rgba(122, 162, 214, 0.6);
}

/* line 150, ../sass/screen.scss */
.transparent {
  background-color: transparent;
}

/* line 154, ../sass/screen.scss */
.overlay {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(122, 162, 214, 0.85);
}
/* line 163, ../sass/screen.scss */
.overlay .overlay-close {
  width: 33px;
  height: 45px;
  position: absolute;
  right: 17px;
  top: 10px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
}
/* line 177, ../sass/screen.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 185, ../sass/screen.scss */
.overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
/* line 193, ../sass/screen.scss */
.overlay nav ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 201, ../sass/screen.scss */
.overlay nav ul li a {
  font-size: 3em;
  display: block;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 210, ../sass/screen.scss */
.overlay nav ul li a:hover, .overlay nav ul li a:focus {
  font-weight: bold;
}

/* line 221, ../sass/screen.scss */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

/* line 229, ../sass/screen.scss */
.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

/* line 241, ../sass/screen.scss */
.arrow {
  position: absolute;
  bottom: 2%;
  left: 50%;
  margin-left: -20px;
  height: 40px;
}

/* line 249, ../sass/screen.scss */
.bounce {
  animation: bounce 3s infinite;
}

/* line 255, ../sass/screen.scss */
#canvas {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: #1a1724;
}
/* line 263, ../sass/screen.scss */
#canvas .canvas-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin: auto;
  width: 100%;
}
/* line 272, ../sass/screen.scss */
#canvas .canvas-content h1 {
  font-size: 9.4em;
  text-align: center;
  margin: 0;
  font-weight: 700;
}
/* line 279, ../sass/screen.scss */
#canvas .canvas-content h2 {
  font-size: 4.7em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

/* line 291, ../sass/screen.scss */
#z2 {
  padding: 5% 0 5% 0;
  background-color: #ffffff;
}
/* line 295, ../sass/screen.scss */
#z2 h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #7aa2d6;
}
/* line 302, ../sass/screen.scss */
#z2 p {
  text-align: center;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
}
/* line 316, ../sass/screen.scss */
#z2 #me {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 321, ../sass/screen.scss */
#z2 #me #moi {
  padding-top: 20px;
}
/* line 324, ../sass/screen.scss */
#z2 #me #moi img {
  border-radius: 50%;
  width: 250px;
  height: auto;
  padding: 25px 0 25px 0;
}
/* line 332, ../sass/screen.scss */
#z2 #me #logo {
  padding-top: 20px;
}
/* line 335, ../sass/screen.scss */
#z2 #me #logo img {
  width: 300px;
  height: 300px;
}
/* line 343, ../sass/screen.scss */
#z2 #cv {
  text-align: center;
}
/* line 346, ../sass/screen.scss */
#z2 #cv button {
  height: 60px;
  width: 200px;
  background-color: #7aa2d6;
  border: none;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
/* line 357, ../sass/screen.scss */
#z2 #cv button:hover {
  font-weight: bold;
  cursor: pointer;
}

/* line 369, ../sass/screen.scss */
#z3 {
  background-color: #7aa2d6;
  padding: 5% 0 5% 0;
}
/* line 373, ../sass/screen.scss */
#z3 h2 {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
/* line 380, ../sass/screen.scss */
#z3 h3 {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 20px;
}
/* line 387, ../sass/screen.scss */
#z3 #competences {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
/* line 392, ../sass/screen.scss */
#z3 #competences p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
/* line 401, ../sass/screen.scss */
#z3 #competences i {
  transition: all ease-in-out 0.5s;
  font-size: 45px;
}
/* line 405, ../sass/screen.scss */
#z3 #competences i:hover {
  color: #edf1f5;
}
/* line 410, ../sass/screen.scss */
#z3 #competences .skill {
  width: 33%;
  text-align: center;
}

/* line 421, ../sass/screen.scss */
#z4 {
  padding: 5% 0 5% 0;
  background-color: #ffffff;
}
/* line 425, ../sass/screen.scss */
#z4 h2 {
  text-align: center;
  font-size: 30px;
  color: #7aa2d6;
}
/* line 431, ../sass/screen.scss */
#z4 h3 {
  text-align: center;
  font-size: 25px;
  color: #7aa2d6;
}
/* line 436, ../sass/screen.scss */
#z4 h3:nth-child(2) {
  padding-top: 20px;
}
/* line 441, ../sass/screen.scss */
#z4 #webGo,
#z4 #stages,
#z4 #dut {
  padding-bottom: 25px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 451, ../sass/screen.scss */
#z4 #dut {
  padding-bottom: 0;
}
/* line 455, ../sass/screen.scss */
#z4 .dut {
  text-align: center;
  margin: 20px;
  padding-top: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
}
/* line 464, ../sass/screen.scss */
#z4 .dut a {
  color: #7aa2d6;
}
/* line 467, ../sass/screen.scss */
#z4 .dut a:hover {
  font-weight: bold;
}
/* line 473, ../sass/screen.scss */
#z4 .travail {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* line 478, ../sass/screen.scss */
#z4 .travail img {
  width: 80%;
  height: auto;
  opacity: 0.7;
  transition: all ease-in-out 0.5s;
  margin-top: 25px;
}
/* line 485, ../sass/screen.scss */
#z4 .travail img:hover {
  opacity: 1;
}
/* line 490, ../sass/screen.scss */
#z4 .travail .workCaption {
  padding: 15px 0 15px 0;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #7aa2d6;
}
/* line 497, ../sass/screen.scss */
#z4 .travail .workCaption:hover {
  font-weight: bold;
}
/* line 502, ../sass/screen.scss */
#z4 .travail p {
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
/* line 507, ../sass/screen.scss */
#z4 .travail p a {
  color: #7aa2d6;
}
/* line 510, ../sass/screen.scss */
#z4 .travail p a:hover {
  font-weight: bold;
}

/* line 521, ../sass/screen.scss */
#z5 {
  padding-top: 5%;
  background-color: #7aa2d6;
}
/* line 525, ../sass/screen.scss */
#z5 h2 {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
/* line 531, ../sass/screen.scss */
#z5 p {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
/* line 540, ../sass/screen.scss */
#z5 #contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* line 546, ../sass/screen.scss */
#z5 #contact #infos {
  padding-top: 9%;
  text-align: center;
  width: 40%;
}
/* line 551, ../sass/screen.scss */
#z5 #contact #infos address {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}
/* line 555, ../sass/screen.scss */
#z5 #contact #infos address a {
  text-decoration: none;
  font-style: italic;
  color: #ffffff;
}
/* line 560, ../sass/screen.scss */
#z5 #contact #infos address a:hover {
  font-weight: bold;
}
/* line 565, ../sass/screen.scss */
#z5 #contact #infos address i {
  margin-right: 10px;
}
/* line 571, ../sass/screen.scss */
#z5 #contact #formulaire {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #7aa2d6;
}
/* line 578, ../sass/screen.scss */
#z5 #contact #formulaire #name,
#z5 #contact #formulaire #mailObject {
  display: flex;
}
/* line 583, ../sass/screen.scss */
#z5 #contact #formulaire input[type="text"],
#z5 #contact #formulaire input[type="email"] {
  padding: 14px 15px;
  border-radius: 50px;
  width: 50%;
  color: #7aa2d6;
  border: none;
  font-family: "Lato", sans-serif;
  margin: 10px;
}
/* line 594, ../sass/screen.scss */
#z5 #contact #formulaire textarea {
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  height: 250px;
  padding: 18px;
  background: white;
  font-family: "Lato", sans-serif;
}
/* line 604, ../sass/screen.scss */
#z5 #contact #formulaire textarea[id="message"] {
  color: #7aa2d6;
}
/* line 608, ../sass/screen.scss */
#z5 #contact #formulaire ::placeholder {
  color: #7aa2d6;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
/* line 614, ../sass/screen.scss */
#z5 #contact #formulaire input[type="submit"] {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  height: 50px;
  width: 135px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  color: #7aa2d6;
  font-size: 18px;
}
/* line 625, ../sass/screen.scss */
#z5 #contact #formulaire input[type="submit"]:hover {
  font-weight: bold;
  cursor: pointer;
}
/* line 633, ../sass/screen.scss */
#z5 #upArrow {
  text-align: center;
  padding-bottom: 2%;
}
/* line 637, ../sass/screen.scss */
#z5 #upArrow .up {
  margin-top: 30px;
  height: 25px;
}

/* line 650, ../sass/screen.scss */
footer {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  padding: 15px 0px;
  color: #7aa2d6;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
}
/* line 660, ../sass/screen.scss */
footer #footer {
  padding: 10px;
  list-style: none;
}
/* line 664, ../sass/screen.scss */
footer #footer .twitter,
footer #footer .github {
  margin-left: 10px;
}
/* line 669, ../sass/screen.scss */
footer #footer li {
  display: inline-block;
  margin: 15px;
  margin-right: 0;
}
/* line 674, ../sass/screen.scss */
footer #footer li a {
  text-decoration: none;
  color: #7aa2d6;
  opacity: 1;
  display: inline-block;
  transition: all ease-in-out 0.5s;
}
/* line 681, ../sass/screen.scss */
footer #footer li a:hover {
  font-weight: bold;
  opacity: 0.8;
}
/* line 687, ../sass/screen.scss */
footer #footer li a i:before {
  font-size: 23px;
}

@media screen and (max-width: 768px) {
  /* line 697, ../sass/screen.scss */
  .navMobile {
    display: initial;
  }

  /* line 701, ../sass/screen.scss */
  .nav,
  .nav2 {
    display: none;
  }

  /* line 708, ../sass/screen.scss */
  #canvas .canvas-content h1 {
    font-size: 7.4em;
  }
  /* line 712, ../sass/screen.scss */
  #canvas .canvas-content h2 {
    font-size: 3.7em;
  }

  /* line 719, ../sass/screen.scss */
  #z2 p {
    width: 80%;
    margin: 0 10% 0 10%;
  }

  /* line 726, ../sass/screen.scss */
  #z4 .travail {
    width: 100%;
  }

  /* line 734, ../sass/screen.scss */
  #z5 #contact #infos,
  #z5 #contact #formulaire {
    width: 90%;
    padding-bottom: 5%;
    padding-top: 0;
  }
}
@media screen and (max-width: 500px) {
  /* line 748, ../sass/screen.scss */
  #canvas .canvas-content h1,
  #canvas .canvas-content h2 {
    font-size: 4em;
  }
  /* line 753, ../sass/screen.scss */
  #canvas .canvas-content h2 {
    margin-top: 0.5em;
  }

  /* line 759, ../sass/screen.scss */
  .arrow {
    height: 25px;
  }

  /* line 765, ../sass/screen.scss */
  #z2 #me #moi {
    padding-top: 20px;
    width: 45%;
  }
  /* line 769, ../sass/screen.scss */
  #z2 #me #moi img {
    border-radius: 50%;
    width: 100%;
    padding: 0;
  }
  /* line 776, ../sass/screen.scss */
  #z2 #me #logo {
    padding-top: 20px;
    width: 45%;
  }
  /* line 780, ../sass/screen.scss */
  #z2 #me #logo img {
    width: 100%;
    height: auto;
  }
  /* line 787, ../sass/screen.scss */
  #z2 p {
    width: 90%;
    margin: 0 5% 0 5%;
  }

  /* line 794, ../sass/screen.scss */
  #z3 #competences {
    padding-top: 25px;
  }
  /* line 797, ../sass/screen.scss */
  #z3 #competences .skill {
    width: 100%;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 376px) {
  /* line 810, ../sass/screen.scss */
  .overlay nav ul li a {
    font-size: 2.5em;
  }

  /* line 821, ../sass/screen.scss */
  #z5 #contact #infos address {
    font-size: 20px;
  }

  /* line 830, ../sass/screen.scss */
  footer #footer li {
    margin: 10px;
    margin-right: 0;
  }
}
@media screen and (max-height: 30.5em) {
  /* line 839, ../sass/screen.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 844, ../sass/screen.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
