body {
    text-align: center;
    /* font-family: Comic Sans MS;
    background-image: url(SPONGEBOI.gif), url(BOUM.gif), url(joy2.gif), url(https://media.giphy.com/media/H7F0zSaC9ZHZC/giphy.gif);
    cursor: url(cat2.png), auto; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    overflow: hidden;
}

#emoji {
    position: relative;
    height: 520px;
}

#emoji img:first-child {
    position: absolute;
    left: 0%;
}

#emoji img {
    position: absolute;
}

.happyEyes,
.sadEyes,
.winkEyes,
.loveEyes,
.lmaoEyes {
    top: -30%;
    left: 0;
    transform: scale(0.1);
    z-index: 1;
}

.happyMouth,
.sadMouth,
.winkMouth,
.loveMouth {
    bottom: 60%;
    left: 33%;
    transform: scale(0.1);
    z-index: 1;

}

.brasUn,
.brasDeux,
.brasTrois {
    bottom: -17%;
}

.funnelUn,
.funnelDeux {
    top: -40%;
    transform: scale(0.3) rotate(180deg);
    z-index: 2;
}

.funnelUn {
    left: 0.5%;
}

.funnelDeux {
    left: 34%;
}

.brasUn {
    left: 0;
}

.brasDeux {
    left: 33%;
}

.brasTrois {
    left: 66%;
}

.base,
.lever {
    transform: scale(0.5);
    position: absolute;
}

.base {
    bottom: -155%;
    z-index: 2;
    right: 0;
}

.lever {
    bottom: -50%;
    right: 5%;
    z-index: 1;
}

#choice {
    margin-top: 100px;
    position: relative;
}

/* cancer */
@keyframes rainbow {
    0% {
        color: orange;
    }

    10% {
        color: purple;
    }

    20% {
        color: red;
    }

    30% {
        color: CadetBlue;
    }

    40% {
        color: yellow;
    }

    50% {
        color: coral;
    }

    60% {
        color: green;
    }

    70% {
        color: cyan;
    }

    80% {
        color: DeepPink;
    }

    90% {
        color: DodgerBlue;
    }

    100% {
        color: orange;
    }
}

@keyframes rainbox {
    0% {
        background-color: orange;
        color: DodgerBlue;
        border: 2px solid dodgerblue;
    }

    10% {
        background-color: purple;
        color: yellow;
        border: 2px solid yellow;
    }

    20% {
        background-color: red;
        color: green;
        border: 2px solid green;
    }

    30% {
        background-color: CadetBlue;
        color: orange;
        border: 2px solid orange;
    }

    40% {
        background-color: yellow;
        color: coral;
        border: 2px solid coral;
    }

    50% {
        background-color: coral;
        color: cyan;
        border: 2px solid cyan;
    }

    60% {
        background-color: green;
        color: cadetblue;
        border: 2px solid cadetblue;
    }

    70% {
        background-color: cyan;
        color: deeppink;
        border: 2px solid deeppink;
    }

    80% {
        background-color: DeepPink;
        color: red;
    }

    90% {
        background-color: DodgerBlue;
        color: purple;
        border: 2px solid purple;
    }

    100% {
        background-color: orange;
        color: cyan;
        border: 2px solid cyan;
    }
}

.rainbow-text {
    font-size: 24px;
    /* animation: rainbow 2s ease infinite; */
}

button {
    /* font-family: Comic Sans MS; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFCC4D;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    /* animation: rainbox 2s ease infinite; */
}

button:hover {
    font-weight: bold;
    cursor: url(cat2.png), auto;
}